@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


*{margin: 0; padding: 0; box-sizing: border-box;}
ul, li{list-style: none;}
a{text-decoration: none; color: inherit; display: inline-block;}

body{
    font-family: 'Freesentation-9Black' , 'TheJamsil5Bold', 'Black Han Sans' , "고딕";}
table{border-collapse: collapse;}
img{vertical-align: bottom;}